<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
	
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="titulo">Detalle del producto</h2>
			</div>
		
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="Producto-detail">
					<img class="img-producto-detail" src="/images/products/<%= productoEncontrado.image %>" alt="imagen de producto">
					<article class="Detalle-producto-detail">
						<p><%= productoEncontrado.name %></p>
						<h2><%= productoEncontrado.price %></h2>
						<span><%= productoEncontrado.discount %></span>
						<i class="fas fa-truck"></i>
					</article>
				</section>
				<form action="/products/<%= productoEncontrado.id %>/edit">
					<div class="crear">
						<button type="submit">Editar producto</button>
					</div>
				</form>
			</div>
		
		</div>
	</div>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>