<!DOCTYPE html>
<html lang="es">

	<%- include('./partials/head') %>

<body>
	<%- include('./partials/header') %>

    <h2 class="titulo">Productos</h2>
    <section class="Productos-Destacados">
    <% for(let i = 0; i< productos.length;i++) { %>
        <a class="envio_text" href="/products/<%= productos[i].id %>/detail">
        <section class="Producto">
            <img class="img-producto" src="../../images/products/<%= productos[i].image %>" alt="imagen">
            <article class="Detalle-producto">
                <p class="nombre-producto"><strong><%= productos[i].name %></strong></p>
                <p class="precio">$<%=productos[i].price %></p>
            </article>
        </section>
    </a>
    <% } %>
</section>
    <%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>