<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<%- include('./partials/header') %>
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="titulo">Estás editando: <i><%= product.name %> </i></h2>
			</div>
		</div>
		<div >
			<form class= "register" action="/products/<%= product.id  %>/edit/?_method=put " method="POST">
				<div class="formulario">
					<div class="campo">
						<label for="name" >Nombre del producto:</label>
						<input type="text" id="name" name="name" placeholder="<%= product.name %> " class="form-input">
					</div>
					<div class="campo">
						<label for="price" >Precio del producto:</label>
						<input type="text" id="price" name="price" placeholder="<%= product.price %>" class="form-input">
					</div>
					<div class="campo">
						<label for="description" >Descripción:</label>
						<textarea name="description" id="description" class="form-input"><%= product.description %></textarea>
					</div>
					<p>
						<label for="imgProducto">Imagen de Producto</label>
						<input type="file" name= "imgProducto">
					</p>
					<div class="crear">
						<button type="submit" class="buy-now-button">Guardar producto</button>
					</div>
					<form class= "formulario" action="/products/delete/<%= product.id  %>" method="POST">
						<div class="crear">
							<button type="submit" class="buy-now-button">Borrar producto</button>
						</div>
					</form>
				</div>
			</form>
			
		</div>
	</div>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>