<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>

    <%- include('./partials/header') %>
    
    <h2 class="titulo">EDITANDO</h2>
    
        <section class="formulario">
            <form class="SW" action="/user/profile/adm/<%= user.id  %>/?_method=put " method="POST">
                <label class="switch"> ADMINISTRADOR
                    <% if (user.rol == 1) { %>
                        <input name="rol" type="checkbox" value="1" checked>
                    <% } else { %>
                        <input name="rol" type="checkbox" value="1">
                        <% } %>
                    <span class="slider round"></span>
                    <button type="submit">EDITAR</button>
                  </label>    
            </form>
            <article class="datos">
                <p class="campo-perfil">Nombre</p><%= user.first_name %>
                <br>
                <p class="campo-perfil">Apellido</p><%= user.last_name %>    
                <br>
                <p class="campo-perfil">Email</p><%= user.email %>
                <br>
                <p class="campo-perfil">Teléfono</p><%= user.phone_number %>
                <br>
                <p class="campo-perfil">Imagen de Perfil</p><img src='../../images/users/<%= user.image %>' alt="imagen de usuario">
            </article>
        </section>

    <%- include('partials/footer') %>
</body>
</html>