<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>

    <%- include('./partials/header') %>
    
        <section class="formulario">
            <article class="datos">
                <p class="campo">Nombre</p><%= user.firstName %>
                <br>
                <p class="campo">Apellido</p><%= user.lastName %>    
                <br>
                <p class="campo">Email</p><%= user.email %>
                <br>
                <p class="campo">Teléfono</p><%= user.telefono %>
                <br>
                <p class="campo">Imagen de Perfil</p><img src="../../public/images/users/<%=user.image%>" alt="imagen de usuario">
            </article>
        </section>    
    
    <%- include('partials/footer') %>
</body>
</html>