<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>

    <%- include('./partials/header') %>
    
    <h2 class="titulo">Mi Perfil</h2>
        <section class="formulario">
            <article class="datos">
                <p class="campo-perfil">Nombre</p><%= user.first_name %>
                <br>
                <p class="campo-perfil">Apellido</p><%= user.last_name %>    
                <br>
                <p class="campo-perfil">Email</p><%= user.email %>
                <br>
                <p class="campo-perfil">Teléfono</p><%= user.phone_number %>
                <br>
                <p class="campo-perfil">Imagen de Perfil</p><img src="../../public/images/users/<%=user.image%>" alt="imagen de usuario">
            </article>
        </section>
        <form action="/user/logout" method="POST">
            <div class="crear">
                <button type="submit">CERRAR SESIÓN</button>
            </div>
        </form>    
    
    <%- include('partials/footer') %>
</body>
</html>